table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  height: calc(100vh - 100px); /* Subtract the height of the datetime div from the viewport height */
}

td {
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr td {
  font-size: 1em;

}
#custom {
  overflow-y: auto;
  max-height: 100vh;
}
tbody {
  height: 100%;
  display: table;
  width: 100%;
}

tr {
  height: calc(100% / var(--row-count));
  font-size: 2em;
  display: table-row;
  padding: 0;
}

body {
  margin: 0%;
  background: black;
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #c0c0c0;
  color: #202020;
}
tr:nth-child(even) {
  background-color: #404040;
  color: white;
}
tr {
  font-size: 3.5em !important;
  font-weight: 750;
}
tr td:nth-child(1) {
  width: 10%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
tr td:nth-child(2) {
  width: 700px;
  min-width: 0px;
  max-width: 700px;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tr td:nth-child(3) {
  width: 8%;
}
h1{
  font-size: 7.5em;
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline;
}
h2 {
  font-size: 3.5em;
  color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}