<!DOCTYPE html>
<html>

  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loan Devices</title>
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'main/default.css' %}"
      type="text/css" />

    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous" />
  </head>

  <body>
    <div id="custom">
      {% block content %}
      <table>
        <tbody>
          {% for Loan_Number,Loan_Date,Loan_Name,Loan_Date_Diff in data %}
          {% if Loan_Date_Diff > 30 %}
          <tr style="background:rgba(255,65,54,0.8); color:rgb(32,32,32)">
            {% elif Loan_Date_Diff >= 15 %}
            <tr style="background:rgba(255,222,41,0.8); color:rgb(32,32,32)
              !important">
              {% elif Loan_Date_Diff == '-1' %}
              <tr>
                {% endif %}
                <td>
                  {{ Loan_Number }}
                </td>
                <td>
                  {{ Loan_Name }}
                </td>
                <td>
                  {{ Loan_Date }}
                </td>
              </tr>

              {% endfor %}
            </td>
          </td>
        </tbody>
      </table>
      {% endblock %}
    </div>
  </body>
</html>